* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', 'Ubuntu Mono', 'Fira Mono';
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b5e3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b7a9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006888;
}

/* Responsive Screen */
@media only screen and (max-width: 800px) {

    .title {
        font-size: 2em;
    }

    .test-area {
        width: 80vw;
    }
}

/* BACKGROUND*/

.container {
    height: 100vh;
    background-image: url('https://media.giphy.com/media/l3q2sLRa7XYfVRq8w/giphy.gif');
    /* background-position-y: 70%; */
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: -1;
    justify-content: center;

}

.title {
    margin-top: 12vh;
    font-size: 3em;
}

/* JAVASCRIPT TEST AREA */

.test-area {
    width: 70vw;
    height: 60vh;
    box-sizing: border-box;
    padding: 2em;
    background-color:  #fdf3ec;
    margin: auto;
    text-align: left;
    color: rgb(2, 40, 90);
    overflow: auto;
}


/* VISUAL NOVEL */

.buttonStyle {
    background-color: black;
    width: 100px;
    color: white;
    padding: 10px;
    justify-content: center;
    margin:auto;
    display:flex;
}

.invisible {
    display: none;
}
.story-window{
    color:black;
}
